---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Work">
  <section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Work"
      description="Here you can find some of my recent work."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          );
        })
      }
      <Project
        name="More projects coming soon"
        description="I'm always working on something new. Check back later for more updates."
        image="/assets/images/projects/coming-soon.png"
        url="#"
      />
    </div>
  </section>
</Layout>
