---
---
<section class="max-w-6xl mx-auto px-3 sm:px-7 lg:px-0">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mt-7 mb-12">
    <!-- Item 1: Gathr -->
    <div class="rounded-2xl overflow-hidden">
      <img src="/assets/images/projects/gathr-grid-mockup.png" alt="Gathr" class="w-full object-contain" />
    </div>

    <!-- Item 2: Insights -->
    <div class="rounded-2xl overflow-hidden">
      <img src="/assets/images/projects/insights-grid-mockup.png" alt="Insights" class="w-full object-contain" />
    </div>

    <!-- Item 3: Luse -->
    <div class="rounded-2xl overflow-hidden">
      <img src="/assets/images/projects/luse-grid-mockup.png" alt="Luse" class="w-full object-contain" />
    </div>

    <!-- Item 4: Project Shot Dashboard -->
    <div class="rounded-2xl overflow-hidden">
      <img src="/assets/images/projects/Project Shot Dashboard.png" alt="Project Shot Dashboard" class="w-full object-contain" />
    </div>
  </div>
</section>
